@model IEnumerable<QuanLyShopThoiTrang.Models.ProductVariant>

@{ 
    ViewBag.Title = "ProductVariantPartials";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

@if (TempData["errorDelete"] != null)
{
    <h2 style="text-align: center; margin: 0 auto">@TempData["errorDelete"]</h2>
}
<h2>Danh sách các mẫu sản phẩm</h2>
<table class="table table-bordered table-light table-hover p-0" >
    <tr class="bg-secondary">
        <th style="text-align: center; vertical-align: middle; width: 20%">
           Tên Sản Phẩm
        </th>
        <th style="text-align: center; vertical-align: middle; width: 300px">
            Số Lượng Tồn
        </th>
        <th style="text-align: center; vertical-align: middle;">
           Màu sắc
        </th>
        <th style="text-align: center; vertical-align: middle;">
           Size
        </th>
        <th style="text-align: center; vertical-align: middle;">
           Hình Ảnh
        </th>
        <th style="text-align: center; vertical-align: middle;">
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Product.product_name)
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Color.color_name)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Size.size_name)
            </td>
            <td style="text-align: center; vertical-align: middle;">                
                    <img style="height:15vmin;width:15vmin" st class="card-img-top" src="~/Image/SanPham/@item.ImageSP" />              
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.ActionLink("Edit", "SuaMauSP", new { id = item.variant_id }) |
                @Html.ActionLink("Delete", "XoaMauSP", new { id = item.variant_id })

            </td>
        </tr>
    }
    <div>
        <button type="submit" style="background-color: antiquewhite; margin: 10px; border-radius: 5px; cursor: pointer; ">
            <a href="@Url.Action("ThemMauSP")" style="text-decoration: none; color: inherit;">
                Thêm mẫu Sản Phẩm
            </a>
        </button>
    </div>

</table>
