@model QuanLyShopThoiTrang.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutThoiTrang.cshtml";
}


<link href="~/Asset/styleDetails.css" rel="stylesheet" />
<div>
    <div class="card-wrapper">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        @{int count = 1; }
                        @foreach (var item in ViewBag.listVariants)
                        {                            
                                <img style="height:55vmin" src="~/Image/SanPham/@item" alt="image">                            
                        }
                    </div>
                    <div class="img-select">
                        @{count = 1; }
                        @foreach (var item in ViewBag.listVariants)
                        {                           
                                <div class="img-item">
                                    <a href="#" data-id="@count">
                                        <img style="width:15vmin;height:15vmin" class="hinh-san-pham" src="~/Image/SanPham/@item" alt="image">
                                    </a>
                                </div>
                                count++;                          
                        }
                    </div>
                </div>
            </div>
        </div>
            <!-- card right -->
        <div class="product-content">
            <h3 class="text-uppercase font-weight-bold">@Html.DisplayFor(model => model.product_name)</h3>
            <div class="product-price">
                <!-- <p class = ""</p> -->
                <p>Giá: đ<span>@Html.DisplayFor(model => model.price)</span></p>
            </div>

            <div class="product-detail">
                <h2>Mô tả sản phẩm </h2>
                <p>@Html.DisplayFor(model => model.Title)</p>
                <ul>
                    <li>
                        Màu:
                        <select>
                            @foreach (var items in ViewBag.listColor)
                            {
                                <option>@items</option>
                            }
                        </select>
                    </li>
                    <li>
                        Size:
                        <select>
                            @foreach (var item in ViewBag.listSize)
                            {
                                <option>@item</option>
                            }
                            <option value="value"></option>
                        </select>
                    </li>
                    <li>Tình trạng: <span>Còn hàng</span></li>
                    <li>Loại sản phẩm: <span>@Html.DisplayFor(Model => Model.Category.category_name)</span></li>
                    <li>Khu vực giao hàng: <span>Toàn quốc</span></li>
                    <li>Chi phí vận chuyển: <span>Miễn phí</span></li>
                </ul>
            </div>
           
        <div class="purchase-info">
           @using (Html.BeginForm("ThemVaoGiohang", "GioHang", new { @ms = Model.product_id, @strURL = Request.Url.ToString() }))
               {           
                <input type="number" min="0" value="1">
                <button type="submit" class="btn" >
                    Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i>
                </button>                
            }
        <button type="button" class="btn">Mua ngay</button>

        </div>

            <div class="social-links">
                <p class="mr-3 mt-3">Share: </p>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
        </div>
    </div>
    <div />


    <script src="script.js"></script>

    <script>
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;

        imgBtns.forEach((imgItem) => {
            imgItem.addEventListener('click', (event) => {
                event.preventDefault();
                imgId = imgItem.dataset.id;
                slideImage();
            });
        });

        function slideImage() {
            const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

            document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }

        window.addEventListener('resize', slideImage);
                //==========================================================

    </script>
